<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,2},{27,32}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,32}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>img_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{26,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,36}}</string>
                <key>sourceSize</key>
                <string>{26,36}</string>
            </dict>
            <key>img_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1151,2},{30,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>img_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,51},{479,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,47}}</string>
                <key>sourceSize</key>
                <string>{479,47}</string>
            </dict>
            <key>img_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1445,2},{479,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,47}}</string>
                <key>sourceSize</key>
                <string>{479,47}</string>
            </dict>
            <key>img_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{497,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{497,65}}</string>
                <key>sourceSize</key>
                <string>{497,65}</string>
            </dict>
            <key>img_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,51},{479,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,47}}</string>
                <key>sourceSize</key>
                <string>{479,47}</string>
            </dict>
            <key>img_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{479,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,47}}</string>
                <key>sourceSize</key>
                <string>{479,47}</string>
            </dict>
            <key>img_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,69},{479,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,47}}</string>
                <key>sourceSize</key>
                <string>{479,47}</string>
            </dict>
            <key>img_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{479,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{479,47}}</string>
                <key>sourceSize</key>
                <string>{479,47}</string>
            </dict>
            <key>img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,51},{13,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,36}}</string>
                <key>sourceSize</key>
                <string>{13,36}</string>
            </dict>
            <key>img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,2},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>img_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,2},{25,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,36}}</string>
                <key>sourceSize</key>
                <string>{25,36}</string>
            </dict>
            <key>img_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>img_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1329,2},{24,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,36}}</string>
                <key>sourceSize</key>
                <string>{24,36}</string>
            </dict>
            <key>img_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1245,2},{27,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,36}}</string>
                <key>sourceSize</key>
                <string>{27,36}</string>
            </dict>
            <key>img_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,2},{23,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,36}}</string>
                <key>sourceSize</key>
                <string>{23,36}</string>
            </dict>
            <key>img_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,2},{29,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,36}}</string>
                <key>sourceSize</key>
                <string>{29,36}</string>
            </dict>
            <key>liewen.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,66}}</string>
                <key>sourceSize</key>
                <string>{167,66}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>images.png</string>
            <key>size</key>
            <string>{1926,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:62bce15979036446699625a5fcbf92ae:3fca1b78599bfe870a592cf804648862:335c286809c72a8e2d00961ad23f3d8a$</string>
            <key>textureFileName</key>
            <string>images.png</string>
        </dict>
    </dict>
</plist>
